html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END OF CSS RESET*/


.clearfix
{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}

/* END OF CLEARFIX */

body
{
	background-image: url('images/pattern.jpg');
	background-repeat: repeat;
	background-color: #454545;
	width: 100%;
	margin: 0;
}

#container
{
	margin: 0 auto;
	max-width: 960px;
	padding: 100px 30px 0px 30px;
	text-align: left;
	overflow: visible;
}

#top_bar
{
	height: 20px;
	width: 100%;
	background-color: #222222;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	margin: 0;
	border-bottom: 1px #5f5f5f solid;
}

.awesome_graphic
{
	font-family: Helvetica, Arial, Sans-serif;
	font-weight: bolder;
	font-size: 450pt;
	color: #bebebe;
	text-shadow: #222222 0 -2px 0, #e1e1e1 0 1px 0;
	margin: -100px 0 -500px -10px;
}

p
{
	font-family: 'Lucida Grande', Helvetica, Sans-serif;
	font-weight: lighter;
	font-size: 7.5pt;
	color: #bebebe;
	margin: 0 0 10px 0;
	line-height: 1.5em;
}

h1
{
	font-family: Helvetica, Arial, Sans-serif;
	font-weight: bold;
	font-size: 45pt;
	color: #3f3f3f;
	text-shadow: #181818 0 -1px 0,
	#6c6c6c 0 1px 0;
	margin: 0;
}

h2
{
	font-family: Helvetica Neue, Arial, Sans-serif;
	font-weight: 100;
	font-style: italic;
	font-size: 45px;
	color: #f99c77;
	text-shadow: #222222 0 -2px 0;
	margin: 0;
}

h3
{
	font-family: Helvetica, Arial, Sans-serif;
	font-weight: bolder;
	font-size: 230pt;
	color: #f99c77;
	text-shadow: #222222 0 -2px 0;
	margin: -40px 0 0 0;
	letter-spacing: -0.05em;
	position: relative;
	
}

h3:hover{
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
	top: -5px;
	color: #fff;
}

h4
{
	font-family: Helvetica, Arial, Sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: 24pt;
	color: #bebebe;
	text-shadow: #222222 0 -2px 0;
	margin: 0 0 10px 0;
}

ul.boxes{
	margin-top: 5%;
	width: 100%;
}

ul.boxes li
{
	width: 26%;
	background-color: #3f3f3f;
	padding: 20px;
	list-style-type: none;
	float: left;
	margin-right: 4.7%; /* mygawd, deese boxes are all strechy nao */
	-webkit-box-shadow: 0 -1px #181818, #6c6c6c 0 1px 0;
	   -moz-box-shadow: 0 -1px #181818, #6c6c6c 0 1px 0;
	        box-shadow: 0 -1px #181818, #6c6c6c 0 1px 0;
	
}

li.last{
	margin-right: 0 !important;
}

ul.boxes p
{
	line-height: 1.5em;
}

.separator
{
	height: 0px;
	border-top: #000 1px solid;
	border-bottom: #6c6c6c 1px solid;
	margin: 20px 0;
	width: 100%;
}

.big_number
{
	float: left;
	margin: 0 0 -40px -10px;
	padding: 0;
}

.nonsense
{
	float: left;
	max-width: 630px;
	margin: 0;
	padding: 0 0 0 25px;
}

#helvetica_box
{
	width: 920px;
	background-color: #f99c77;
	padding: 20px;
	margin: 0 0 50px 0;
	height: 280px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

p.helvetica1
{
	font-family: Helvetica Neue, Arial, Sans-serif;
	font-weight: bold;
	font-size: 201pt;
	height:;
	color: #fff;
	text-shadow: #181818 0 -1px 0;
	margin: -100px 0 0 0;
	float: left;
}

/* Just stole your style <3 */

p.helvetica2
{
	float: left;
	font-family: Helvetica, Arial, Sans-serif;
	font-weight: bold;
	font-size: 139pt;
	letter-spacing: -0.06em;
	color: #3f3f3f;
	text-shadow: #181818 0 -1px 0;
	margin: 0 0 0 10px;
	-webkit-transition: 0.3s ease-in-out all;
	   -moz-transition: 0.3s ease-in-out all;
	    -ms-transition: 0.3s ease-in-out all;
	     -o-transition: 0.3s ease-in-out all;
	        transition: 0.3s ease-in-out all;
}

p.helvetica2:hover
{
	color: transparent;
	text-shadow: 0 0 50px rgba(255,255,255,0.5);
}

/* Two can play at that game :) */

#neue{
	font-family: "Helvetica Neue", Arial, Sans-serif;
	font-size: 240px;
	text-rendering: optimizeLegibility;
	font-weight: 100;
	color: #3f3f3f;
	background-color: #f99c77;
	padding: 20px;
	margin: 0 0 50px 0;
	height: 280px;
	-webkit-background-clip: padding-box; /* fix WebKit background bleed on border-radius */
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	width: 96%;
	position: relative;
	cursor: default;
}

.foreground, .background, #neue span{
	-webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.005, 0.945); 
	   -moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.005, 0.945); 
	    -ms-transition: all 500ms cubic-bezier(0.250, 0.460, 0.005, 0.945); 
	     -o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.005, 0.945); 
	        transition: all 500ms cubic-bezier(0.250, 0.460, 0.005, 0.945);
}

#neue .background{
	font-size: 300px;
	position: absolute;
	top: -25px;
	color: rgba(63,63,63,0.6);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	text-shadow: ;
	z-index: 1;
	overflow: hidden;
	width: 98%;
}

#neue:hover .background{
	margin-left: -80px;
	width: 110%;
	text-shadow: 0px 0px 50px #000;
	color: transparent;
	padding: 50px;
}

#neue .foreground{
	z-index: 2;
	margin-top: -20px;
	text-shadow: 0px 0px 50px #454545, 0px 0px 50px #454545;
	color: transparent;
	position: relative;
}

#neue span{
	color: transparent;
	font-size: 300px;
	position: relative;
	top: 20px;
	text-shadow: none;
}

#neue:hover .foreground{
	margin-left: 150px;
	text-shadow: none;
	color: #454545;
}

#neue:hover span{
	color: #fff;
	text-shadow: 0px 0px 10px #fff;
}
	




::selection {
        background: #f16a34; /* Safari */
        }
::-moz-selection {
        background: #f16a34; /* Firefox */
}


